{% extends "base.html" %}
{% block content %}
    <h1>Hello</h1>
    <ul>
    <li>To use this app you need to have a dev shop setup with bogus gateway.</li>
    <li>Then under prerequistes page install webhook(necessary) and load products(or you may add your own)</li>
    <li>Ok Now you have to do some Shopping at your store.</li>
    <li>Keep in mind you would have to capture the payments for this to work</li>
    <li>When all is setup, click on any prouct on the home page, it will list you the details</li>
    </ul>
{% endblock %}