{% extends "base.html" %}
{% block content %}


    <div id="orders" xmlns="http://www.w3.org/1999/html">
        <h2>Your recent orders</h2>
        {% if orders %}

            {% for order in orders %}

                <strong>{{ order.name }}</strong> {{ order.total_price }} {{ order.currency }} {{ order.financial_status }} by {{ order.billing_address.name }}<br/>
            {% endfor %}
        {% else %}
            There are no orders in your store.
        {% endif %}



        <h2>Some of your products</h2>

        {% for product in products %}
            <br /><h4><a href =/theyboughtthis?product_id={{ product.id }}>{{ product.title }}</h4></a> {{ product.price_range }} {{ current_shop.currency }}   {{ product.product_type }} {{ product.vendor }}
        {% empty %}
            <em class="note">There are no products in your store.</em>
        {% endfor %}
    </div>
{% endblock %}